<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>商品新規登録</h2>
      <%= form_with model:@item, url: admin_items_path, local:true do |item| %>
      <div class="form-group">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">商品画像</th>
              <td><%= item.attachment_field :image %></td>
            </tr>
            <tr>
              <th scope="row">商品名</th>
              <td><%= item.text_field :name, class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row">商品説明</th>
              <td><%= item.text_area :introduction, class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row">ジャンル</th>
              <td><%= item.collection_select :genre_id, Genre.all, :id, :name, class:"btn btn-info form-control", prompt: "--選択してください--" %></td><!--横幅を合わせたい-->
            </tr>
            <tr>
              <th scope="row">税抜き価格</th>
              <td><%= item.text_field :price, class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row"> 販売ステータス</th>
              <td><%= item.radio_button :done,true %>
                <%= item.label :done, '販売中',value: true , checked: true, class: "checked" %> <!--デフォルトでチェック入れたい-->
                <%= item.radio_button :done,false %>
                <%= item.label :done, '販売停止中',value: false %></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><%= item.submit "新規登録", class:"btn btn-success col-6" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
</div>

