<div class="container p-4">
  <div class="row">
    <div class="col-10 mx-auto">
      <%= form_with model: @admin, url:  admin_session_path, id: 'new_admin', class: 'new_admin', local: true do |f| %>
      <div class="form-group">
        <h4 class="p-4">管理者ログイン</h4>
        <table class="table table-borderless">
          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :パスワード %></th>
            <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control col" %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "ログイン",class: "btn btn-primary" %></td>
          </tr>
        </table>
      <% end %>
      </div>
    </div>
  </div>
</div>
