<div class="container">
  <div class="row">
    <h2>
      <%= @customer.full_name %>さんの会員詳細
    </h2></div>
    <div class="row">
      <div class="mx-auto">
        <div class="col">
          <table class="table">
            <tbody>
              <tr>
                  <th>会員ID</th>
                  <td><%= @customer.id %></td>
              </tr>
              <tr>
                  <th>氏名</th>
                  <td><%= @customer.full_name %></td>
              </tr>
              <tr>
                  <th>フリガナ</th>
                  <td><%= @customer.full_name_kana %></td>
              </tr>
              <tr>
                  <th>郵便番号</th>
                  <td><%= @customer.postal_code %></td>
              </tr>
              <tr>
                  <th>住所</th>
                  <td><%= @customer.address %></td>
              </tr>
              <tr>
                  <th>電話番号</th>
                  <td><%= @customer.telephone_number %></td>
              </tr>
              <tr>
                  <th>メールアドレス</th>
                  <td><%= @customer.email %></td>
              </tr>
              <tr>
                  <th>会員ステータス</th>
                  <% if @customer.is_active? %>
                  <td class="text-success">
                    有効
                  </td>
                  <% else %>
                  <td>
                    退会
                  </td>
                  <% end %>
              </tr>
              <tr>
                  <th></th>
                  <td><%= link_to "編集する", edit_admin_customer_path(@customer), class:"btn btn-success" %>
                  <%= link_to "注文履歴一覧を見る",admin_path(order_sort: 1, customer_id: @customer.id ),class:"btn btn-primary" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>