<div class="container">
  <h4 class="p-4">配送先登録/一覧</h4>
  <div class="row">
    <div class= col-12>
      <%= form_with model:@delivery,url: deliveries_path,local:true do |f| %>
      <div class="form">
        <div class="form-group row">
          <label for="postal_code" class="col-form-label">郵便番号（ハイフンなし）</label>
          <div class="col-3">
           <%= f.text_field :postal_code, placeholder:1234567,class:"form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-2 col-form-label">住所</label>
          <div class="col-6">
            <%= f.text_field :address, placeholder:"東京都渋谷区神南1丁目19-11 パークウェースクエア24階",class:"form-control" %>
          </div>
        </div>
        <div class="form-group row ">
          <label for="name" class="col-2 col-form-label">名前</label>
          <div class="col-3">
            <%= f.text_field :name, placeholder:"令和道子",class:"form-control" %>
            <%= f.submit '新規登録', class:"btn btn-success m-4" %>
          </div>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class= col-8>
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">郵便番号</th>
                <th scope="col">住所</th>
                <th scope="col">宛名</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @deliveries.each do |delivery| %>
              <tr>
                <td><%= delivery.postal_code %></td>
                <td><%= delivery.address %></td>
                <td><%= delivery.name %></td>
                <td><%= link_to '編集する', edit_delivery_path(delivery),class: "btn btn-success" %> <%= link_to '削除する', delivery_path(delivery), method: :delete, class: "btn btn-danger" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
