<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h2>新規会員登録</h2>
      <%= form_with model:@customer, url: customer_registration_path, local:true do |customer| %>
      <div class="form-group">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">名前</th>
              <td>
                <%= customer.text_field :last_name,:placeholder => "令和" %> <%= customer.text_field :first_name,:placeholder => "道子" %>
              </td>
            </tr>
            <tr>
              <th scope="row">フリガナ</th>
              <td>
                <%= customer.text_field :last_name_kana,:placeholder => "レイワ" %> <%= customer.text_field :first_name_kana,:placeholder => "ミチコ" %>
              </td>
            </tr>
            <tr>
              <th scope="row">メールアドレス</th>
              <td><%= customer.text_field :email,:placeholder => "sample@example.com" %></td>
            </tr>
            <tr>
              <th scope="row">郵便番号（ハイフンなし）</th>
              <td><%= customer.text_field :postal_code,:placeholder => "0000000" %></td>
            </tr>
            <tr>
              <th scope="row">住所</th>
              <td><%= customer.text_field :address,:placeholder => "東京都渋谷区代々木神園町0-0",class:"form-control" %></td>
            </tr>
            <tr>
              <th scope="row">電話番号（ハイフンなし）</th>
              <td><%= customer.text_field :telephone_number,:placeholder => "0000000000" %></td>
            </tr>
            <tr>
              <th scope="row">パスワード（6文字以上）</th>
              <td><%= customer.password_field :password %></td>
            </tr>
            <tr>
              <th scope="row">パスワード（確認用）</th>
              <td><%= customer.password_field :password_confirmation %></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td><%= customer.submit "新規登録", class:"btn btn-success col-6" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
      <h2>既に登録済みの方</h2>
      <%= link_to "こちら", customer_session_path %><p>からログインしてください。</p>
    </div>
  </div>
</div>

